<nav class="navbar bg-body-tertiary">
  <div class="container-fluid" style="10px;">
    <h1>Events</h1>
    <a class="btn btn-warning" href="/events/create">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        fill="currentColor"
        class="bi bi-calendar-plus-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2M8.5 8.5V10H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V11H6a.5.5 0 0 1 0-1h1.5V8.5a.5.5 0 0 1 1 0"
        />
      </svg>
    </a>
  </div>
</nav>

<div class="container">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 my-5">
    {{#each events as |event|}}
      <div class="card event-list">
        <div class="card-body">
          <div class="card-content mb-3">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{formatDate date}}</p>
          </div>
          <div
            class="btn-wrapper text-center d-flex justify-content-between mb-2"
          >
            <a href="/events/{{event._id}}/edit" method="get">
              <button
                type="submit"
                class="btn btn-primary me-md-2"
              >Edit</button>
            </a>
            <form action="/events/{{event._id}}/delete" method="post">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>