<div class='d-flex flex-g-4'>
  {{#each events as |event|}}
    <section>
      <div class="card-container" style="max-width: 500px; max-height: 600px; margin: 20px;">
        <div class="card event-card">
          <div class="card-inner">
            <img class="image" src="{{event.photo}}" alt="{{event.name}} photo">
          </div>
          <div class="card-footer">
            <h5 class="card-title">{{event.name}}</h5>
            <p class="card-text">{{event.eventType}}</p>
          </div>
        </div>
      </div>
    </section>
  {{/each}}
</div>
