<nav class="navbar navbar-dark bg-primary"> 
    <a class="navbar-brand">Irontickets</a>
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>

    <div class="d-flex mt-5">
        <a role="button" type="submit" class="btn btn-danger me-2" href="/login">Login/Register</a>
    </div>
</nav>
