    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand px-3">Irontickets</a>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary border border-white" type="submit">Search</button>
        </form>

        <div class="d-flex align-items-center ml-auto">
            <a role="button" class="btn btn-danger me-2" href="/login">Login/Register</a>
        </div>
    </nav>
