<selection>
 <h2 style="front-size: 23px; text-aling: center; font-weight: 900; padding-bottom: 4px;">DISCOVER</h2>
<div class="new-events">
    {{#each events as |event|}}
    <ul class="new-events">

    </ul>
    {{/each}}
</div>
</selection>