body {
  margin-bottom: 20px;
}

html, body {
  height: 100%;
  margin: 0;
}

.sticky-footer-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.sticky-footer-wrapper footer {
  margin-top: auto;
}

footer {
  margin-top: 20px;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #45526e;
  color: #fff;
  text-align: center;
}

.form-container {
  margin-bottom: 20px;
}

.container {
  height: calc(100vh - 50px);
}

@media (max-width: 768px) {
  .fixed-footer {
    height: 75px;
  }
}

/* CARDS DISCOVERS */

.card {
  transition: all 0.2s;
  cursor: pointer;
  border: none;
  max-width: 400px;
  max-height: 400px;
}

.card-inner {
  width: inherit;
  height: inherit;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card:hover {
  transform: scale(1.04) rotate(1deg);
  animation: move-up6 0.2s ease;
}

.card:active {
  animation: move-down1 0.2s ease;
}

@keyframes move-up6 {
  to {
    transform: translateY(-10px);
  }
}

