 <h1>Error 400: Bad Request</h1>
  <p>Your request could not be understood by the server due to invalid syntax.</p>
  <p>This could be due to:</p>
  <ul>
    <li>Incorrect URL formatting</li>
    <li>Missing or invalid parameters</li>
    <li>Malformed request body</li>
  </ul>
  <a href="/">Go to Home Page</a>