 <div class="row justify-content-center"  style="height: 700px;">
  <div class="col-4 text-center">
    <h1>Error 404: Not Found</h1>
      <p>The page you requested could not be found.</p>
      <p>This could be due to:</p>
      <ul>
        <p>- A broken link</p>
        <p> - An incorrect URL</p>
        <p>The page being removed</p>
      </ul>
      <a href="/">Go to Home Page</a>
    </div>
  </div>