<div class="container mt-5 mb-5">
  {{#if title}}<h1 class="mb-4">{{title}}</h1>{{/if}}
  <header>
    <h2>IronTickets</h2>
    <p>Your guide to finding the best tickets for your favorite events.</p>
  </header>
  <section id="about">
    <h2>About Us</h2>
    <p>
      IronTickets is born from a passion for events and the need to simplify the
      ticket buying process. We are Raquel and José Ramón, two music and
      entertainment enthusiasts who joined forces to create a platform that
      helps you find the perfect tickets for your favorite events.
    </p>
    <h3>Our Mission</h3>
    <p>
      At IronTickets, our goal is to make finding and purchasing tickets an
      easy, secure, and hassle-free experience. We want you to focus on enjoying
      your favorite events without worrying about long lines, fraudulent
      websites, or exorbitant prices.
    </p>
    <h3>What Make Us Different?</h3>
    <ul>
      <li><strong>Reliable Information:</strong>
        We gather and analyze information from Ticketmaster and other trusted
        sources to offer you a comprehensive view of the available tickets for
        each event.</li>
      <li><strong>Fair Prices:</strong>
        We show you the best prices available for each ticket, with no hidden
        fees or additional commissions.</li>
      <li><strong>Secure Purchase:</strong>
        We use the most secure and reliable payment methods to protect your
        personal and financial information.</li>
      <li><strong>Information:</strong>
        Our customer support team is available to assist you at every step of
        the buying process.</li>
    </ul>
    <h3>What Can You Find on IronTickets?</h3>
    <ul>
      <li>
        <strong>Event Tickets:</strong>
        Search by artist, city, date, or event type to find the tickets you
        need.
      </li>
      <li>
        <strong>Complete Information:</strong>
        Access details about each event, such as date, time, venue,
        participating artists, and ticket availability.
      </li>
      <li>
        <strong> Compared:</strong>
        Compare prices from different vendors to ensure you get the best deal.
      </li>
      <li>
        <strong>Blog:</strong>
        Stay up-to-date with the latest news in the entertainment world, tips
        for buying tickets, and much more.
      </li>
    </ul>
    <h3>Who Are We?</h3>
    <ul>
      <li><strong>Raquel:</strong>
        A music and live event enthusiast with extensive experience in
        purchasing tickets.</li>
      <li><strong>José Ramón:</strong>
        A technology and finance expert with a strong commitment to security and
        transparency.</li>
    </ul>
    <p>
      Together, Raquel and José Ramón, are here to help you enjoy your favorite
      events without any complications.
    </p>
    <p>
      <strong>
        IronTickets today and start planning your next adventure!</strong>
    </p>
  </section>
</div>