<div class="container mt-5 mb-5">
    {{#if title}}<h1 class="mb-4">{{title}}</h1>{{/if}}
    <header>
      <h2>Find answers to your questions about IronTickets:</h2>
    </header>
    <section id="help">
        <h3>Buy Tickets</h2>
           <p> 
               <li>Choose your event, date, and seat(s).</li>
               <li>Follow the checkout steps.</li>
               <li>Pay with credit card.</li>
               <li>Get your tickets!</li>
           </p>
        
        <h3>Manage Your Account</h3>
            <p> 
                <li>Create an account or sign in.</li>
                <li>Update your details.</li>
                <li>View your tickets purchased.</li>
            </p>
    
        <h3>Find Events</h3>
            <p> 
                <li>See information for each event.</li>
                <li>Search by artist, city, or date.</li>
            </p>
        <h3>Help and Contact</h3>
             <p> 
                Contact customer service: email and phone.
            </p>

        <h3><strong>Enjoy Irontickets!</strong></h3>
    </section>
</div>