<div class="container h-75">
    <div class="row h-100 align-items-center">
        <div class="col-12 h-75 d-flex flex-column justify-content-around align-items-center">
            <h1 class="{{#if success}}text-success{{/if}} text-center">{{msg}}</h1>
            <div class="d-flex justify-content-center w-200 h-200">
                <img class="w-75" src="/img/concierto.png">
            </div>
            <a href="/" class="btn btn-link mt-5">Back to principal page</a>
        </div>
    </div>
</div>

