<h1>{{event.name}}</h1>
    <h5>Event Date: {{formatDate date}}</h5> 
    <h5></h5>
<h2>Tickets</h2>

    {{#each tickets as |ticket|}}


        <h3>Ticket Details</h3>
        <p>Ticket Type: {{ticket.ticketType}}</p> 
        <p>Price: {{ticket.price}}</p> 

    {{/each}}