<!--Main Container -->
<div class="container d-flex h-75 justify-content-center align-items-center min-vh">
    <!--Login Container -->
    <div class="row border rounder-5 p-3 bg-white shadow box-area">
        <!--Left Box -->
        <div class="col-md-6 rounder-4 d-flex justify-content-center align-items-center flex-column left-box" style="background:#007BFF;">
            <div class="featured-image mb-3">
                <img src="/img/login.png" class="img-fluid" style="width: 250px">
            </div>
            <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 500;">Be part of the family Ironticket</p>
            <small class="text-white text-wrap text-center" style="width: 17rem; font-family: 'Courier New', Courier, monospace;">Join to attend the events on this platform.</small>
        </div>
        <!--Right Box -->
        <div class="col-md-6 right-box">
            <div class="row align-items-center">
                <div class="header-text mb-4">
                    <h2>Hello, Again!</h2>
                    <p>We are happy to have you back.</p>
                </div>
                <form method="post" action="/login">
                    <div class="input-group mb-3">
                        <input type="text" name="email" class="form-control form-control-lg bg-light fs-6 {{#if errors.email }}is-invalid{{/if}}" placeholder="Email address"/>
                        {{#if errors.email }} <div class="invalid-feedback">{{errors.email}}</div> {{/if}}
                    </div>
                    <div class="input-group mb-1">
                        <input type="password" name="password" class="form-control form-control-lg bg-light fs-6 {{#if errors.password }}is-invalid{{/if}}" placeholder="Password"/>
                        {{#if errors.password }} <div class="invalid-feedback">{{errors.password}}</div> {{/if}}
                    </div>
                    <div class="input-group mb-3">
                        <button type="submit" class="btn btn-lg btn-primary w-100 fs-6">Login</button>
                    </div>
                </form>
                <div class="row">
                    <small>Don't have account? <a href="/register">Register</a></small>
                </div>
            </div>
        </div>
    </div>
</div>
