Profile

<div class="dropdown">
    <button class="btn btn-secondary dropdown toggle" data-bs-toggle="dropdown">
        Abrir lista
    </button>

    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" href="#">Opción 1</a>
        </li>

        <li>
            <a class="dropdown-item" href="#">Opción 2</a>
        </li>

        <li>
            <a class="dropdown-item" href="#">Opción 3</a>
        </li>
    </ul>
    
</div>